/* Kolory u¿yte na stronie
	
	#000000 - czarny (kolor cieni)
	#FFFFFF - bia³y
	#272f33 - granatowy (kolor t³a i tekstu)
	#556564 - ciemny szary (kolor prawej kolumny)
	#859494 - jasny szary (koor lewej kolumny)
	#bdc9ca - popielaty (kolor œredkowej kolumny)
	#d66000 - pomarañczowy
*/
a:link, a:visited, a:active { color: #d66000; text-decoration: underline; outline:none; }
a:hover { text-decoration: none; color: #859494; }
h1
{
	margin-top: 90px;
	font-size: 32px;
	font-weight: bold;
	color: #d66000;
	text-decoration:underline;
	text-align: center;
}
h2
{
	padding-bottom: 30px;
	font-size:28px;
	color: #272f33;
	text-align: center;
}
h3
{
	font-size: 16px;
	font-weight: 700;
	color: #FFF;
	margin-top: 170px;
	margin-left: 25px;
	
}
h4
{
	margin-top: 16px;
	font-size: 16px;
	color: #FFF;
	text-align: center;
	font-weight: 300;
}
h5
{
	margin-top: 10px;
	font-size: 14px;
	color: #859494;
	text-align: center;
}
h6
{
	margin-top: 10px;
	font-size: 10px;
	color: #859494;
	text-align: center;
}
body
{
	background-color: #272f33;
	background-image: url("../images/tlo.jpg");
	font-family: 'Lato', sans-serif;
	margin: 0;
}
.clear
{
	clear: both;
}
#container
{
	width: 1000px;
	height: 890px;
	margin-left: auto;
	margin-right: auto;
}
#logo
{
	margin-top: 15px;
	text-align: center;
}
#cala
{
	width: 1000px;
	height: 700px;
}
#lewa
{
	width: 195px;
	height: 700px;
	float: left;
	background-color: #859494;
	z-index: 10000;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 2px 0 100px 0 rgb(0,0,0,0.4);
	box-shadow: 2px 0 100px 0 rgb(0,0,0,0.4);
}
nav
{
	margin-left: 60px;
	font-size: 17px;
}
nav ul
{
	margin-top: 170px;
}
nav ul#menu  li.menu1
{
	list-style: url("../images/lapka.png");
	text-shadow: 1px 1px 1px #000;
	padding-top: 20px;
}
nav ul#menu  li.menu1 > a
{
	text-decoration: none;
	color: #FFF;
}
ul#menu  li.menu1 > a:hover
{
	color: #d66000;
}
ul#menu  li.menu1 > a.aktywny
{
	color: #d66000;
	border-bottom: 6px solid #d66000;
}
.halloblack
{
	width: 1px;
	height: 700px;
	background-color: #272f33;
	float: left;
	opacity: 0.4;
	z-index: 5;
}
.hallowhite
{
	width: 1px;
	height: 700px;
	background-color: #fff;
	float: left;
	opacity: 0.4;
	z-index: 5;
}
#srodek
{
	width: 500px;
	height: 700px;
	float: left;
	background-color: #bdc9ca;
	border-radius: 5px 5px 5px 5px;
	z-index: 1;
}
article
{
	padding: 60px 60px 10px 60px;
	color: #272f33;
	font-size: 16px;
	text-align: justify;
	font-weight: 400;
}
article ul li
{
	margin-left: 30px;
}
#prawa
{
	width: 295px;
	height: 700px;
	float: left;
	background-color: #556564;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: -2px 0 100px 0 rgb(0,0,0,0.4);
	box-shadow: -2px 0 100px 0 rgb(0,0,0,0.4);
}
#prawa ul
{
	margin-top: 1px;
	margin-left: 40px;
}
#prawa ul li
{
	list-style: none;
	text-shadow: 1px 1px 1px #000;
	padding-top: 20px;
}
#prawa ul li > a
{
	color: #FFF;
	font-weight: 300;
	font-size: 15px;
	text-decoration: none;
}
#prawa ul li > a:hover
{
	text-decoration: underline;
	color: #d66000;
}
.pieczatka
{
	margin-top: 120px;
	margin-left: 120px;
}
.foto
{
	float: left;
}
.fotka
{
	width: 175px;
	heiht: 127px;
	display: inline-block;
	list-style: none;
	margin: -3px 5px 10px 5px;
}
.fotka:last-of-type 
{
  margin-left: 11px;
} 
#blad404
{
	width: 1000px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}
#b1 h1
{
	float: left;
	color: #d66000;
	text-decoration: none;
	font-size: 204px;
	text-shadow: 1px 1px 1px #FFF;
	margin-top: 250px;
	margin-left: 50px;
}
#kreska
{
	float: left;
	background-color: #d66000;
	width: 10px;
	height: 400px;
	border-radius: 5px;
	margin-top: 160px;
	margin-left: 40px;
}
#b2
{
	float: left;
	color: #FFF;
	margin-top: 300px;
	margin-left: 50px;
	font-size: 30px;
}